* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, footer, input{
  font-family: Helvetica, Arial, sans-serif;
}

.container{
  width: 100%;
}

header{
  background-color: #203040;
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 1rem;
}

main{
  display: flex;
  width: 100%;
}

footer{
  background-color: #203040;
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

a{
  text-decoration: none;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
  .main{
    width: 70%;
  }
    .products{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
      list-style-type: none ;
    }
      .products li {
        flex: 1 1 29%;
        height: 400px;
        padding: 0.5rem;
        margin: 0.5rem;
      }
        .product{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
        }
          .product img {
            width: 100%;
            height: 290px;
          }
          .product-price{
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
              .product-price div,
              .product-price button {
                text-align: center;
              }
              .product-price div{
                font-size: 1.4rem;
                margin-bottom: 14px;
              }
              .button{
                padding: 10px;
                border: 0.1rem solid #c0c0c0;
                background-color: #f0f0f0;
                cursor: pointer;
              }
              .button:hover{
                border: 0.1rem solid #808080
              }
              .button.primary{
                background-color: #f7f744;
              }

  .sidebar{
    width: 25%;
  }

  /* Filter Component's Styles */
  .filter{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-bottom: .1rem #c0c0c0 solid;
  }
      .filter div{
        flex: 1;
      }

/* Sidebar Component's styles */
.cart{
  padding: 10px;
  margin: 10px;
  display: flex;
}
.cart-header{
  border-bottom: 1px solid #c0c0c0;
}
.cart-items{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
  .cart-items img{
    width: 50px;
  }
  .cart-items li{
    display: flex;
  }
    .cart-items-title{
      text-align: center;
    }
    .cart-items li div{
      padding: 5px;
    }
    .cart-items li div:last-child{
      flex: 1;
    }
    .right{
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .cart-total{
      display: flex;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
    }
    .total{
      margin-right: 25px;
    }


form{
  width: 100%;
}
.form-container{
  padding: 0;
  width: 100%;
  list-style-type: none;
}
  .form-container li {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  input{
    padding: 10px;
    border: 1px #c0c0c0 solid;
    width: 100%;
  }



  /* Product Modal */
  .product-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-height: 96vh;
    
  }
      .product-details img {
        max-height: 100vh;
        max-width: 460px;
        ;
      }

      .product-details-description{
        margin: 10px;
        padding-top: 20px
      }
      .product-details-description p{
          margin-bottom: 10px;
      }
      .close-modal{
        position: absolute;
        right: 10px;
        top: 25px;
        padding: 8px;
        z-index: 1000;
      }
      .product-price-modal{
        margin-top: 65px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      } 


      /* Order details styles */

      .order-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 100%;
      }

      .order-details li{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .order-details li div{
        padding: 10px;
      }

      .order-details .items{
        text-align: right;
        padding: 0;
      }

      .success-message{
        color: green;
      }